/*
 *  Document   : all-themes.scss
 *  Author     : RedStar Template
 *  Description: This scss file for import all theme style scss files

             [1. Purple Theme]               
             [2. Blue Theme]               
             [3. Cyan Theme]              
             [4. Green Theme]             
             [5. Orange Theme]               
             [6. Black Theme]               
             [7. White Theme]               
             [8. Dark Template Theme]               
 */
/*            [1. Purple Theme]               */
/*
 *  Document   : theme-purple.scss
 *  Author     : RedStar Template
 *  Description: This scss file for purple theme style classes
 */
.theme-purple .navbar {
  background-color: #909de4;
}

.theme-purple .navbar.active {
  background-color: #909de4 !important;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.theme-purple .navbar.active .nav > li > a {
  color: #fff;
}

.theme-purple .navbar.active .sidemenu-collapse i {
  color: #fff;
}

.theme-purple .nav > li > a {
  color: #fff;
}

.theme-purple .nav > li > a:hover {
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}

.theme-purple .nav > li > a:focus {
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}

.theme-purple .bars {
  color: #fff;
}

.theme-purple .sidebar .menu .list li.active {
  background-color: rgba(0, 0, 0, 0);
}

.theme-purple .sidebar .menu .list li.active > :first-child i, .theme-purple .sidebar .menu .list li.active > :first-child span {
  color: #909de4;
}

.theme-purple .sidebar .menu .list li a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.theme-purple .sidebar .menu .list li a i, .theme-purple .sidebar .menu .list li a span {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.theme-purple .sidebar .menu .list li a:hover {
  color: #909de4;
}

.theme-purple .sidebar .menu .list li a:hover i, .theme-purple .sidebar .menu .list li a:hover span {
  color: #909de4;
}

.theme-purple .sidebar .menu .list .ml-menu {
  background-color: rgba(0, 0, 0, 0);
}

.theme-purple .sidebar .menu .list .ml-menu .active a {
  font-weight: 700;
}

.theme-purple .sidebar .menu .list .ml-menu li.active a.toggled:not(.menu-toggle):before {
  background-color: #909de4;
  border-color: #909de4;
}

.theme-purple .sidebar .menu .menu-toggle.toggled:after {
  color: #909de4;
}

.theme-purple .sidebar .menu .active .menu-toggle {
  border-left: 2px solid #909de4;
}

.theme-purple .sidebar .legal {
  background-color: #fff;
}

.theme-purple .sidebar .legal .copyright a {
  color: #909de4 !important;
}

.theme-purple .breadcrumb li a {
  color: #909de4 !important;
}

.theme-purple .card .header h2 strong {
  color: #909de4 !important;
}

.theme-purple .page-item.active .page-link {
  background-color: #909de4;
  border-color: #909de4;
  color: #FFFFFF;
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
}

.theme-purple .btn-primary {
  background-color: #909de4 !important;
  color: #fff !important;
  border-color: #909de4 !important;
}

.theme-purple .btn-primary:hover {
  background-color: #909de4 !important;
  color: #fff !important;
}

.theme-purple .btn-primary:active {
  background-color: #909de4 !important;
  color: #fff !important;
}

.theme-purple .btn-primary:focus {
  background-color: #909de4 !important;
  color: #fff !important;
}

.theme-purple .btn-primary:disabled {
  background-color: #909de4 !important;
  color: #fff !important;
}

.theme-purple .btn-outline-primary {
  background: 0 0 !important;
  color: #909de4 !important;
  border: 1px solid #909de4 !important;
}

.theme-purple .btn-outline-primary:hover {
  background: #909de4 !important;
  color: #fff !important;
  border: 1px solid #909de4 !important;
}

.theme-purple .timelineLabelColor strong {
  color: #909de4 !important;
}

.theme-purple .top-sidebar .horizontal-menu li.active > a {
  color: #909de4;
}

.theme-purple .top-sidebar .horizontal-menu li a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.theme-purple .top-sidebar .horizontal-menu li a:hover {
  color: #909de4;
}

.theme-purple .nav-tabs > li > a:before {
  border-bottom: 2px solid #909de4;
}

.theme-purple .sidemenu-collapse i {
  color: #fff;
}

/*Logo Header Background Color*/
.logo-purple .navbar-header {
  background-color: #909de4;
}

/*             [2. Blue Theme]               */
/*
 *  Document   : theme-blue.scss
 *  Author     : RedStar Template
 *  Description: This scss file for blue theme style classes
 */
.theme-blue .navbar {
  background-color: #03a9f3;
}

.theme-blue .navbar.active {
  background-color: #03a9f3 !important;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.theme-blue .navbar.active .nav > li > a {
  color: #fff;
}

.theme-blue .navbar.active .sidemenu-collapse i {
  color: #fff;
}

.theme-blue .nav > li > a {
  color: #fff;
}

.theme-blue .nav > li > a:hover {
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}

.theme-blue .nav > li > a:focus {
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}

.theme-blue .bars {
  color: #fff;
}

.theme-blue .sidebar .menu .list li.active {
  background-color: rgba(0, 0, 0, 0);
}

.theme-blue .sidebar .menu .list li.active > :first-child i, .theme-blue .sidebar .menu .list li.active > :first-child span {
  color: #03a9f3;
}

.theme-blue .sidebar .menu .list li a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.theme-blue .sidebar .menu .list li a i, .theme-blue .sidebar .menu .list li a span {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.theme-blue .sidebar .menu .list li a:hover {
  color: #03a9f3;
}

.theme-blue .sidebar .menu .list li a:hover i, .theme-blue .sidebar .menu .list li a:hover span {
  color: #03a9f3;
}

.theme-blue .sidebar .menu .list .ml-menu {
  background-color: rgba(0, 0, 0, 0);
}

.theme-blue .sidebar .menu .list .ml-menu .active a {
  font-weight: 700;
}

.theme-blue .sidebar .menu .list .ml-menu li.active a.toggled:not(.menu-toggle):before {
  background-color: #03a9f3;
  border-color: #03a9f3;
}

.theme-blue .sidebar .menu .menu-toggle.toggled:after {
  color: #03a9f3;
}

.theme-blue .sidebar .menu .active .menu-toggle {
  border-left: 2px solid #03a9f3;
}

.theme-blue .sidebar .legal {
  background-color: #fff;
}

.theme-blue .sidebar .legal .copyright a {
  color: #03a9f3 !important;
}

.theme-blue .breadcrumb li a {
  color: #03a9f3 !important;
}

.theme-blue .card .header h2 strong {
  color: #03a9f3 !important;
}

.theme-blue .page-item.active .page-link {
  background-color: #03a9f3;
  border-color: #03a9f3;
  color: #FFFFFF;
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
}

.theme-blue .btn-primary {
  background-color: #03a9f3 !important;
  color: #fff !important;
  border-color: #03a9f3 !important;
}

.theme-blue .btn-primary:hover {
  background-color: #03a9f3 !important;
  color: #fff !important;
}

.theme-blue .btn-primary:active {
  background-color: #03a9f3 !important;
  color: #fff !important;
}

.theme-blue .btn-primary:focus {
  background-color: #03a9f3 !important;
  color: #fff !important;
}

.theme-blue .btn-primary:disabled {
  background-color: #03a9f3 !important;
  color: #fff !important;
}

.theme-blue .btn-outline-primary {
  background: 0 0 !important;
  color: #03a9f3 !important;
  border: 1px solid #03a9f3 !important;
}

.theme-blue .btn-outline-primary:hover {
  background: #03a9f3 !important;
  color: #fff !important;
  border: 1px solid #03a9f3 !important;
}

.theme-blue .timelineLabelColor strong {
  color: #03a9f3 !important;
}

.theme-blue .top-sidebar .horizontal-menu li.active > a {
  color: #03a9f3;
}

.theme-blue .top-sidebar .horizontal-menu li a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.theme-blue .top-sidebar .horizontal-menu li a:hover {
  color: #03a9f3;
}

.theme-blue .nav-tabs > li > a:before {
  border-bottom: 2px solid #03a9f3;
}

.theme-blue .sidemenu-collapse i {
  color: #fff;
}

/*Logo Header Background Color*/
.logo-blue .navbar-header {
  background-color: #03a9f3;
}

/*             [3. Cyan Theme]               */
/*
 *  Document   : theme-cyan.scss
 *  Author     : RedStar Template
 *  Description: This scss file for cyan theme style classes
 */
.theme-cyan .navbar {
  background-color: #01d8da;
}

.theme-cyan .navbar.active {
  background-color: #01d8da !important;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.theme-cyan .navbar.active .nav > li > a {
  color: #fff;
}

.theme-cyan .navbar.active .sidemenu-collapse i {
  color: #fff;
}

.theme-cyan .nav > li > a {
  color: #fff;
}

.theme-cyan .nav > li > a:hover {
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}

.theme-cyan .nav > li > a:focus {
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}

.theme-cyan .bars {
  color: #fff;
}

.theme-cyan .sidebar .menu .list li.active {
  background-color: rgba(0, 0, 0, 0);
}

.theme-cyan .sidebar .menu .list li.active > :first-child i, .theme-cyan .sidebar .menu .list li.active > :first-child span {
  color: #01d8da;
}

.theme-cyan .sidebar .menu .list li a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.theme-cyan .sidebar .menu .list li a i, .theme-cyan .sidebar .menu .list li a span {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.theme-cyan .sidebar .menu .list li a:hover {
  color: #01d8da;
}

.theme-cyan .sidebar .menu .list li a:hover i, .theme-cyan .sidebar .menu .list li a:hover span {
  color: #01d8da;
}

.theme-cyan .sidebar .menu .list .ml-menu {
  background-color: rgba(0, 0, 0, 0);
}

.theme-cyan .sidebar .menu .list .ml-menu .active a {
  font-weight: 700;
}

.theme-cyan .sidebar .menu .list .ml-menu li.active a.toggled:not(.menu-toggle):before {
  background-color: #01d8da;
  border-color: #01d8da;
}

.theme-cyan .sidebar .menu .menu-toggle.toggled:after {
  color: #01d8da;
}

.theme-cyan .sidebar .menu .active .menu-toggle {
  border-left: 2px solid #01d8da;
}

.theme-cyan .sidebar .legal {
  background-color: #fff;
}

.theme-cyan .sidebar .legal .copyright a {
  color: #01d8da !important;
}

.theme-cyan .breadcrumb li a {
  color: #01d8da !important;
}

.theme-cyan .card .header h2 strong {
  color: #01d8da !important;
}

.theme-cyan .page-item.active .page-link {
  background-color: #01d8da;
  border-color: #01d8da;
  color: #FFFFFF;
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
}

.theme-cyan .btn-primary {
  background-color: #01d8da !important;
  color: #fff !important;
  border-color: #01d8da !important;
}

.theme-cyan .btn-primary:hover {
  background-color: #01d8da !important;
  color: #fff !important;
}

.theme-cyan .btn-primary:active {
  background-color: #01d8da !important;
  color: #fff !important;
}

.theme-cyan .btn-primary:focus {
  background-color: #01d8da !important;
  color: #fff !important;
}

.theme-cyan .btn-primary:disabled {
  background-color: #01d8da !important;
  color: #fff !important;
}

.theme-cyan .btn-outline-primary {
  background: 0 0 !important;
  color: #01d8da !important;
  border: 1px solid #01d8da !important;
}

.theme-cyan .btn-outline-primary:hover {
  background: #01d8da !important;
  color: #fff !important;
  border: 1px solid #01d8da !important;
}

.theme-cyan .timelineLabelColor strong {
  color: #01d8da !important;
}

.theme-cyan .top-sidebar .horizontal-menu li.active > a {
  color: #01d8da;
}

.theme-cyan .top-sidebar .horizontal-menu li a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.theme-cyan .top-sidebar .horizontal-menu li a:hover {
  color: #01d8da;
}

.theme-cyan .nav-tabs > li > a:before {
  border-bottom: 2px solid #01d8da;
}

.theme-cyan .sidemenu-collapse i {
  color: #fff;
}

/*Logo Header Background Color*/
.logo-cyan .navbar-header {
  background-color: #01d8da;
}

/*             [4. Green Theme]               */
/*
 *  Document   : theme-green.scss
 *  Author     : RedStar Template
 *  Description: This scss file for green theme style classes
 */
.theme-green .navbar {
  background-color: #57d68f;
}

.theme-green .navbar.active {
  background-color: #57d68f !important;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.theme-green .navbar.active .nav > li > a {
  color: #fff;
}

.theme-green .navbar.active .sidemenu-collapse i {
  color: #fff;
}

.theme-green .nav > li > a {
  color: #fff;
}

.theme-green .nav > li > a:hover {
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}

.theme-green .nav > li > a:focus {
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}

.theme-green .bars {
  color: #fff;
}

.theme-green .sidebar .menu .list li.active {
  background-color: rgba(0, 0, 0, 0);
}

.theme-green .sidebar .menu .list li.active > :first-child i, .theme-green .sidebar .menu .list li.active > :first-child span {
  color: #57d68f;
}

.theme-green .sidebar .menu .list li a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.theme-green .sidebar .menu .list li a i, .theme-green .sidebar .menu .list li a span {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.theme-green .sidebar .menu .list li a:hover {
  color: #57d68f;
}

.theme-green .sidebar .menu .list li a:hover i, .theme-green .sidebar .menu .list li a:hover span {
  color: #57d68f;
}

.theme-green .sidebar .menu .list .ml-menu {
  background-color: rgba(0, 0, 0, 0);
}

.theme-green .sidebar .menu .list .ml-menu .active a {
  font-weight: 700;
}

.theme-green .sidebar .menu .list .ml-menu li.active a.toggled:not(.menu-toggle):before {
  background-color: #57d68f;
  border-color: #57d68f;
}

.theme-green .sidebar .menu .menu-toggle.toggled:after {
  color: #57d68f;
}

.theme-green .sidebar .menu .active .menu-toggle {
  border-left: 2px solid #57d68f;
}

.theme-green .sidebar .legal {
  background-color: #fff;
}

.theme-green .sidebar .legal .copyright a {
  color: #57d68f !important;
}

.theme-green .breadcrumb li a {
  color: #57d68f !important;
}

.theme-green .card .header h2 strong {
  color: #57d68f !important;
}

.theme-green .page-item.active .page-link {
  background-color: #57d68f;
  border-color: #57d68f;
  color: #FFFFFF;
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
}

.theme-green .btn-primary {
  background-color: #57d68f !important;
  color: #fff !important;
  border-color: #57d68f !important;
}

.theme-green .btn-primary:hover {
  background-color: #57d68f !important;
  color: #fff !important;
}

.theme-green .btn-primary:active {
  background-color: #57d68f !important;
  color: #fff !important;
}

.theme-green .btn-primary:focus {
  background-color: #57d68f !important;
  color: #fff !important;
}

.theme-green .btn-primary:disabled {
  background-color: #57d68f !important;
  color: #fff !important;
}

.theme-green .btn-outline-primary {
  background: 0 0 !important;
  color: #57d68f !important;
  border: 1px solid #57d68f !important;
}

.theme-green .btn-outline-primary:hover {
  background: #57d68f !important;
  color: #fff !important;
  border: 1px solid #57d68f !important;
}

.theme-green .timelineLabelColor strong {
  color: #57d68f !important;
}

.theme-green .top-sidebar .horizontal-menu li.active > a {
  color: #57d68f;
}

.theme-green .top-sidebar .horizontal-menu li a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.theme-green .top-sidebar .horizontal-menu li a:hover {
  color: #57d68f;
}

.theme-green .nav-tabs > li > a:before {
  border-bottom: 2px solid #57d68f;
}

.theme-green .sidemenu-collapse i {
  color: #fff;
}

/*Logo Header Background Color*/
.logo-green .navbar-header {
  background-color: #57d68f;
}

/*             [5. Orange Theme]               */
/*
 *  Document   : theme-orange.scss
 *  Author     : RedStar Template
 *  Description: This scss file for orange theme style classes
 */
.theme-orange .navbar {
  background-color: #ffb463;
}

.theme-orange .navbar.active {
  background-color: #ffb463 !important;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.theme-orange .navbar.active .nav > li > a {
  color: #fff;
}

.theme-orange .navbar.active .sidemenu-collapse i {
  color: #fff;
}

.theme-orange .nav > li > a {
  color: #fff;
}

.theme-orange .nav > li > a:hover {
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}

.theme-orange .nav > li > a:focus {
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}

.theme-orange .bars {
  color: #fff;
}

.theme-orange .sidebar .menu .list li.active {
  background-color: rgba(0, 0, 0, 0);
}

.theme-orange .sidebar .menu .list li.active > :first-child i, .theme-orange .sidebar .menu .list li.active > :first-child span {
  color: #ffb463;
}

.theme-orange .sidebar .menu .list li a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.theme-orange .sidebar .menu .list li a i, .theme-orange .sidebar .menu .list li a span {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.theme-orange .sidebar .menu .list li a:hover {
  color: #ffb463;
}

.theme-orange .sidebar .menu .list li a:hover i, .theme-orange .sidebar .menu .list li a:hover span {
  color: #ffb463;
}

.theme-orange .sidebar .menu .list .ml-menu {
  background-color: rgba(0, 0, 0, 0);
}

.theme-orange .sidebar .menu .list .ml-menu .active a {
  font-weight: 700;
}

.theme-orange .sidebar .menu .list .ml-menu li.active a.toggled:not(.menu-toggle):before {
  background-color: #ffb463;
  border-color: #ffb463;
}

.theme-orange .sidebar .menu .menu-toggle.toggled:after {
  color: #ffb463;
}

.theme-orange .sidebar .menu .active .menu-toggle {
  border-left: 2px solid #ffb463;
}

.theme-orange .sidebar .legal {
  background-color: #fff;
}

.theme-orange .sidebar .legal .copyright a {
  color: #ffb463 !important;
}

.theme-orange .breadcrumb li a {
  color: #ffb463 !important;
}

.theme-orange .card .header h2 strong {
  color: #ffb463 !important;
}

.theme-orange .page-item.active .page-link {
  background-color: #ffb463;
  border-color: #ffb463;
  color: #FFFFFF;
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
}

.theme-orange .btn-primary {
  background-color: #ffb463 !important;
  color: #fff !important;
  border-color: #ffb463 !important;
}

.theme-orange .btn-primary:hover {
  background-color: #ffb463 !important;
  color: #fff !important;
}

.theme-orange .btn-primary:active {
  background-color: #ffb463 !important;
  color: #fff !important;
}

.theme-orange .btn-primary:focus {
  background-color: #ffb463 !important;
  color: #fff !important;
}

.theme-orange .btn-primary:disabled {
  background-color: #ffb463 !important;
  color: #fff !important;
}

.theme-orange .btn-outline-primary {
  background: 0 0 !important;
  color: #ffb463 !important;
  border: 1px solid #ffb463 !important;
}

.theme-orange .btn-outline-primary:hover {
  background: #ffb463 !important;
  color: #fff !important;
  border: 1px solid #ffb463 !important;
}

.theme-orange .timelineLabelColor strong {
  color: #ffb463 !important;
}

.theme-orange .top-sidebar .horizontal-menu li.active > a {
  color: #ffb463;
}

.theme-orange .top-sidebar .horizontal-menu li a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.theme-orange .top-sidebar .horizontal-menu li a:hover {
  color: #ffb463;
}

.theme-orange .nav-tabs > li > a:before {
  border-bottom: 2px solid #ffb463;
}

.theme-orange .sidemenu-collapse i {
  color: #fff;
}

/*Logo Header Background Color*/
.logo-orange .navbar-header {
  background-color: #ffb463;
}

/*             [6. Black Theme]               */
/*
 *  Document   : theme-black.scss
 *  Author     : RedStar Template
 *  Description: This scss file for black theme style classes
 */
.theme-black .navbar {
  background-color: #343d45;
}

.theme-black .navbar.active {
  background-color: #343d45 !important;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.theme-black .navbar.active .nav > li > a {
  color: #fff;
}

.theme-black .navbar.active .sidemenu-collapse i {
  color: #fff;
}

.theme-black .navbar-brand {
  color: #fff;
}

.theme-black .navbar-brand:hover {
  color: #fff;
}

.theme-black .navbar-brand:active {
  color: #fff;
}

.theme-black .navbar-brand:focus {
  color: #fff;
}

.theme-black .nav > li > a {
  color: #fff;
}

.theme-black .nav > li > a:hover {
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}

.theme-black .nav > li > a:focus {
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}

.theme-black .nav .open > a {
  background-color: rgba(0, 0, 0, 0);
}

.theme-black .nav .open > a:hover {
  background-color: rgba(0, 0, 0, 0);
}

.theme-black .nav .open > a:focus {
  background-color: rgba(0, 0, 0, 0);
}

.theme-black .bars {
  color: #fff;
}

.theme-black .sidebar .menu .list li.active {
  background-color: rgba(0, 0, 0, 0);
}

.theme-black .sidebar .menu .list li a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.theme-black .sidebar .menu .list li a i, .theme-black .sidebar .menu .list li a span {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.theme-black .sidebar .legal {
  background-color: #fff;
}

.theme-black .sidebar .legal .copyright a {
  color: #343d45 !important;
}

.theme-black .breadcrumb li a {
  color: #343d45 !important;
}

.theme-black .card .header h2 strong {
  color: #343d45 !important;
}

.theme-black .page-item.active .page-link {
  background-color: #343d45;
  border-color: #343d45;
  color: #FFFFFF;
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
}

.theme-black .btn-primary {
  background-color: #343d45 !important;
  color: #fff !important;
  border-color: #343d45 !important;
}

.theme-black .btn-primary:hover {
  background-color: #343d45 !important;
  color: #fff !important;
}

.theme-black .btn-primary:active {
  background-color: #343d45 !important;
  color: #fff !important;
}

.theme-black .btn-primary:focus {
  background-color: #343d45 !important;
  color: #fff !important;
}

.theme-black .btn-primary:disabled {
  background-color: #343d45 !important;
  color: #fff !important;
}

.theme-black .btn-outline-primary {
  background: 0 0 !important;
  color: #343d45 !important;
  border: 1px solid #343d45 !important;
}

.theme-black .btn-outline-primary:hover {
  background: #343d45 !important;
  color: #fff !important;
  border: 1px solid #343d45 !important;
}

.theme-black .timelineLabelColor strong {
  color: #343d45 !important;
}

.theme-black .top-sidebar .horizontal-menu li.active > a {
  color: #343d45;
}

.theme-black .top-sidebar .horizontal-menu li a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.theme-black .top-sidebar .horizontal-menu li a:hover {
  color: #343d45;
}

.theme-black .nav-tabs > li > a:before {
  border-bottom: 2px solid #343d45;
}

.theme-black .sidemenu-collapse i {
  color: #fff;
}

/*Logo Header Background Color*/
.logo-black .navbar-header {
  /* background-color: #343d45; */
}

/*             [7. White Theme]               */
/*
 *  Document   : theme-white.scss
 *  Author     : RedStar Template
 *  Description: This scss file for white theme style classes
 */
.theme-white .navbar {
  background-color: #fff;
}

.theme-white .navbar.active {
  background-color: #fff !important;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.theme-white .navbar.active .nav > li > a {
  color: #3a2c70;
}

.theme-white .navbar.active .sidemenu-collapse i {
  color: #3a2c70;
}

.theme-white .navbar-brand {
  color: #2c303b;
}

.theme-white .navbar-brand:hover {
  color: #2c303b;
}

.theme-white .navbar-brand:active {
  color: #2c303b;
}

.theme-white .navbar-brand:focus {
  color: #2c303b;
}

.theme-white .nav > li > a:hover {
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}

.theme-white .nav > li > a:focus {
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}

.theme-white .nav .open > a {
  background-color: rgba(0, 0, 0, 0);
}

.theme-white .nav .open > a:hover {
  background-color: rgba(0, 0, 0, 0);
}

.theme-white .nav .open > a:focus {
  background-color: rgba(0, 0, 0, 0);
}

.theme-white .bars {
  color: #2c303b;
}

.theme-white .sidebar .menu .list li.active {
  background-color: rgba(0, 0, 0, 0);
}

.theme-white .sidebar .menu .list li.active > :first-child i, .theme-white .sidebar .menu .list li.active > :first-child span {
  color: #00bcd4;
}

.theme-white .sidebar .menu .list li a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.theme-white .sidebar .menu .list li a i, .theme-white .sidebar .menu .list li a span {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.theme-white .sidebar .menu .list li a:hover {
  color: #00bcd4;
}

.theme-white .sidebar .menu .list li a:hover i, .theme-white .sidebar .menu .list li a:hover span {
  color: #00bcd4;
}

.theme-white .sidebar .menu .list .toggled::after {
  color: #00bcd4;
}

.theme-white .sidebar .menu .list .ml-menu {
  background-color: rgba(0, 0, 0, 0);
}

.theme-white .sidebar .menu .list .ml-menu .active a {
  font-weight: 700;
}

.theme-white .sidebar .menu .list .ml-menu li.active a.toggled:not(.menu-toggle):before {
  background-color: #00bcd4;
  border-color: #00bcd4;
}

.theme-white .sidebar .menu .menu-toggle.toggled:after {
  color: #00bcd4;
}

.theme-white .sidebar .menu .active .menu-toggle {
  border-left: 2px solid #00bcd4;
}

.theme-white .sidebar .legal {
  background-color: #2c303b;
}

.theme-white .sidebar .legal .copyright a {
  color: #fff !important;
}

.theme-white .breadcrumb li a {
  color: #00bcd4 !important;
}

.theme-white .card .header h2 strong {
  color: #00bcd4 !important;
}

.theme-white .page-item.active .page-link {
  background-color: #00bcd4;
  border-color: #00bcd4;
  border-radius: 50%;
  margin: 5px;
  -webkit-box-shadow: 0 4px 5px 0 #d4d8da, 0 1px 10px 0 #d4d8da, 0 2px 4px -1px #d4d8da;
          box-shadow: 0 4px 5px 0 #d4d8da, 0 1px 10px 0 #d4d8da, 0 2px 4px -1px #d4d8da;
  padding: 0px 12px;
  min-width: 30px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
}

.theme-white .btn-primary {
  background-color: #00bcd4 !important;
  color: #fff !important;
  border-color: #00bcd4 !important;
}

.theme-white .btn-primary:hover {
  background-color: #00bcd4 !important;
  color: #fff !important;
}

.theme-white .btn-primary:active {
  background-color: #00bcd4 !important;
  color: #fff !important;
}

.theme-white .btn-primary:focus {
  background-color: #00bcd4 !important;
  color: #fff !important;
}

.theme-white .btn-primary:disabled {
  background-color: #00bcd4 !important;
  color: #fff !important;
}

.theme-white .btn-outline-primary {
  background: 0 0 !important;
  color: #2c303b !important;
  border: 1px solid #00bcd4 !important;
}

.theme-white .btn-outline-primary:hover {
  background: #00bcd4 !important;
  color: #fff !important;
  border: 1px solid #fff !important;
}

.theme-white .timelineLabelColor strong {
  color: #00bcd4 !important;
}

.theme-white .top-sidebar .horizontal-menu li.active > a {
  color: #00bcd4;
}

.theme-white .top-sidebar .horizontal-menu li a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.theme-white .top-sidebar .horizontal-menu li a:hover {
  color: #00bcd4;
}

.theme-white .demo-choose-skin li.actived:after {
  color: #000;
}

.theme-white .nav-tabs > li > a:before {
  border-bottom: 2px solid #00bcd4;
}

.theme-white .search-box input#search {
  color: gray;
  background: #edecec;
}

/*Logo Header Background Color*/
.logo-white .navbar-header {
  background-color: #fff;
}

.logo-white .navbar-header .logo-name {
  color: #000;
}

/*             [8. Dark Template Theme]               */
/*
 *  Document   : dark.scss
 *  Author     : RedStar Template
 *  Description: This scss file for dark theme style classes
 */
.dark {
  background-color: #38424b;
  color: #bbb;
  padding-top: 1px;
}

.dark body,
.dark html {
  background-color: #3c4452;
}

.dark .dark-font-col {
  color: #bbb;
}

.dark .card {
  background: #434f5a;
}

.dark .card .body {
  color: #bbb;
}

.dark .card .header h2 {
  color: #bbb;
}

.dark .plain-card {
  background: #434f5a;
}

.dark .banner-card {
  background: #434f5a;
}

.dark .people-list .chat-list li:hover {
  background: #3f4650;
  cursor: pointer;
}

.dark .people-list .chat-list li.active {
  background: #262b33;
}

.dark .chat .chat-history .message-data-time {
  color: #bbb;
}

.dark .contact-usertitle-name {
  color: #fff;
}

.dark .demo-skin {
  color: #eaeaea;
}

.dark .demo-skin .form-check-label {
  color: #eaeaea;
}

.dark .demo-settings {
  color: #eaeaea;
}

.dark .block-header {
  padding-bottom: 0px;
}

.dark .block-header h2 {
  color: #bbb !important;
}

.dark .select-wrapper input.select-dropdown {
  color: #bbb;
  font-size: 13px;
}

.dark .breadcrumb li.active {
  color: #bbb;
}

.dark .dropzone {
  border: 1px solid #afacac !important;
  background-color: #434f5a !important;
}

.dark .sl-item .sl-content p {
  color: #bbb;
}

.dark .info-box5 {
  background-color: #434f5a;
}

.dark .form-check {
  color: #bbb;
}

.dark label {
  color: #bbb;
}

.dark .input-group .input-group-addon .material-icons {
  color: #bbb;
}

.dark .input-group input[type="text"],
.dark .input-group .form-control {
  color: #bbb;
}

.dark .form-group .form-control {
  color: #bbb;
  background: #434f5a;
}

.dark .form-group input.form-control {
  color: #bbb;
  border-bottom: 1px solid #eee;
}

.dark .form-check .form-check-sign .check {
  border: 1px solid #bbb;
}

.dark .right-sidebar {
  background: #343d44;
}

.dark .ms-container .ms-selectable li.ms-hover,
.dark .ms-container .ms-selection li.ms-hover {
  color: #bbb !important;
  background-color: #46484e !important;
}

.dark .nav-tabs li a.active {
  color: #fff !important;
}

.dark .bootstrap-tagsinput {
  background-color: #343840 !important;
}

.dark .to-do-list li {
  background: #434f5a;
}

.dark #mail-nav li a {
  color: #bbb;
}

.dark .max-texts a {
  color: #bbb;
}

.dark .pricingTable {
  background: #0c0c0c;
}

.dark .pricingTable .pricingTable-header {
  background: #36373c;
}

.dark .profile-tab-box {
  background: #434f5a;
}

.dark .cd-timeline-content {
  background: #515b6d;
}

.dark .cd-timeline-content h2 {
  color: #bbb;
}

.dark .chart-note {
  color: #bbb;
}

.dark .chart-statis .index {
  color: #bbb;
}

.dark .dataTables_wrapper input[type="search"] {
  color: #9aa0ac;
}

.dark .page-item.disabled .page-link {
  color: #9aa0ac;
  pointer-events: none;
  cursor: auto;
  background-color: #434f5a;
}

.dark .table {
  color: #b7b7b7;
}

.dark .table tbody tr td,
.dark .table tbody tr th {
  border-top: 1px solid rgba(120, 130, 140, 0.5);
  border-bottom: 1px solid rgba(120, 130, 140, 0.5);
}

.dark .table tbody tr:hover {
  color: #9aa0ac;
}

.dark .table thead tr th {
  border-bottom: 1px solid rgba(120, 130, 140, 0.5);
  border-top: 1px solid rgba(120, 130, 140, 0.5);
}

.dark .table-bordered tbody tr td,
.dark .table-bordered tbody tr th {
  border-bottom: 1px solid rgba(120, 130, 140, 0.5);
}

.dark .table-bordered thead tr th {
  border-bottom: 1px solid rgba(120, 130, 140, 0.5);
}

.dark tr.group,
.dark tr.group:hover {
  background-color: #282d35 !important;
}

.dark .tableBody {
  color: #bbb;
}

.dark .card .header h2 strong {
  color: #bbb !important;
}

.dark .breadcrumb li a {
  color: #f1d065 !important;
}

.dark .counter-box,
.dark .box-part {
  background: #434f5a !important;
  color: #bbb;
}

.dark .tblActnBtn i {
  color: #bbb;
}

.dark .chat .chat-history .other-message {
  background: #3b4453;
}

.dark .chat .chat-history .other-message:after {
  border-bottom-color: #3b4454;
}

.dark .chat .chat-history .message {
  color: #bbb;
}

.dark .chat .chat-history .my-message {
  background: #343840;
}

.dark .chat .chat-history .my-message:after {
  border-bottom-color: #343840;
}

.dark .taskbar .card-footer {
  background: #434f5a !important;
}

.dark .move {
  background: #434f5a;
}

.dark .board {
  background-color: #353a46;
}

.dark .board .drop-card {
  background-color: #404754;
}

.dark .list-group-item {
  background: #434f5a;
}

.dark .product-grid .product-content {
  background-color: #3b4453;
}

.dark .ibox-title,
.dark .ibox-content {
  background: #434f5a;
  border-color: #6c757d;
}

.dark .collapsible-header {
  background: #434f5a;
}

.dark .card .card-inside-title {
  color: #bbb;
}

.dark .left-timeline > li:nth-child(odd) .left-label {
  background: #202529;
}

.dark .left-timeline > li:nth-child(odd) .left-label:after {
  border-right-color: #202428;
}

.dark .left-timeline > li:nth-child(odd) .left-time span:last-child {
  color: #eee;
}

.dark .left-timeline > li .left-label {
  background: #303438;
}

.dark .left-timeline > li .left-label p {
  color: #bbb;
}

.dark .left-timeline > li .left-label:after {
  border-right-color: #303438;
}

.dark .left-timeline > li .empty span {
  color: #bbb;
}

.dark .left-timeline > li .left-time span:first-child {
  color: #bbb;
}

.dark .left-timeline > li .left-time span:last-child {
  color: #eae9e9;
}

.dark .font-icon .icon-preview i {
  color: #bbb;
}

.dark .nav-tabs .nav-link.active,
.dark .nav-tabs .nav-item.show .nav-link {
  background-color: transparent;
}

.dark .panel-group .panel-primary .panel-title a {
  color: #bbb;
  background: #32363c;
}

.dark .panel-group .panel .panel-body {
  color: #bbb;
}

.dark .btn-outline-primary {
  color: #bbb !important;
  border: 1px solid #bbb !important;
}

.dark .dropdown-content {
  background-color: #343d44;
}

.dark .dropdown-content li > span {
  font-size: 13px;
  color: #bbb;
}

.dark .select-dropdown li.disabled {
  color: #bbb;
  font-size: 13px;
}

.dark .autocomplete {
  color: #bbb;
}

.dark .autocomplete-content.dropdown-content li:hover {
  background-color: #343d44;
}

.dark .autocomplete-content li .highlight {
  color: #fff;
}

.dark ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(187, 187, 187, 0.7);
}

.dark ::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(187, 187, 187, 0.7);
}

.dark :-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(187, 187, 187, 0.7);
}

.dark :-moz-placeholder {
  /* Firefox 18- */
  color: rgba(187, 187, 187, 0.7);
}
/*# sourceMappingURL=all-themes.css.map */