/*
 *  Document   : dark.scss
 *  Author     : RedStar Template
 *  Description: This scss file for dark theme style classes
 */
.dark {
  background-color: #38424b;
  color: #bbb;
  padding-top: 1px;
}

.dark body,
.dark html {
  background-color: #3c4452;
}

.dark .dark-font-col {
  color: #bbb;
}

.dark .card {
  background: #434f5a;
}

.dark .card .body {
  color: #bbb;
}

.dark .card .header h2 {
  color: #bbb;
}

.dark .plain-card {
  background: #434f5a;
}

.dark .banner-card {
  background: #434f5a;
}

.dark .people-list .chat-list li:hover {
  background: #3f4650;
  cursor: pointer;
}

.dark .people-list .chat-list li.active {
  background: #262b33;
}

.dark .chat .chat-history .message-data-time {
  color: #bbb;
}

.dark .contact-usertitle-name {
  color: #fff;
}

.dark .demo-skin {
  color: #eaeaea;
}

.dark .demo-skin .form-check-label {
  color: #eaeaea;
}

.dark .demo-settings {
  color: #eaeaea;
}

.dark .block-header {
  padding-bottom: 0px;
}

.dark .block-header h2 {
  color: #bbb !important;
}

.dark .select-wrapper input.select-dropdown {
  color: #bbb;
  font-size: 13px;
}

.dark .breadcrumb li.active {
  color: #bbb;
}

.dark .dropzone {
  border: 1px solid #afacac !important;
  background-color: #434f5a !important;
}

.dark .sl-item .sl-content p {
  color: #bbb;
}

.dark .info-box5 {
  background-color: #434f5a;
}

.dark .form-check {
  color: #bbb;
}

.dark label {
  color: #bbb;
}

.dark .input-group .input-group-addon .material-icons {
  color: #bbb;
}

.dark .input-group input[type="text"],
.dark .input-group .form-control {
  color: #bbb;
}

.dark .form-group .form-control {
  color: #bbb;
  background: #434f5a;
}

.dark .form-group input.form-control {
  color: #bbb;
  border-bottom: 1px solid #eee;
}

.dark .form-check .form-check-sign .check {
  border: 1px solid #bbb;
}

.dark .right-sidebar {
  background: #343d44;
}

.dark .ms-container .ms-selectable li.ms-hover,
.dark .ms-container .ms-selection li.ms-hover {
  color: #bbb !important;
  background-color: #46484e !important;
}

.dark .nav-tabs li a.active {
  color: #fff !important;
}

.dark .bootstrap-tagsinput {
  background-color: #343840 !important;
}

.dark .to-do-list li {
  background: #434f5a;
}

.dark #mail-nav li a {
  color: #bbb;
}

.dark .max-texts a {
  color: #bbb;
}

.dark .pricingTable {
  background: #0c0c0c;
}

.dark .pricingTable .pricingTable-header {
  background: #36373c;
}

.dark .profile-tab-box {
  background: #434f5a;
}

.dark .cd-timeline-content {
  background: #515b6d;
}

.dark .cd-timeline-content h2 {
  color: #bbb;
}

.dark .chart-note {
  color: #bbb;
}

.dark .chart-statis .index {
  color: #bbb;
}

.dark .dataTables_wrapper input[type="search"] {
  color: #9aa0ac;
}

.dark .page-item.disabled .page-link {
  color: #9aa0ac;
  pointer-events: none;
  cursor: auto;
  background-color: #434f5a;
}

.dark .table {
  color: #b7b7b7;
}

.dark .table tbody tr td,
.dark .table tbody tr th {
  border-top: 1px solid rgba(120, 130, 140, 0.5);
  border-bottom: 1px solid rgba(120, 130, 140, 0.5);
}

.dark .table tbody tr:hover {
  color: #9aa0ac;
}

.dark .table thead tr th {
  border-bottom: 1px solid rgba(120, 130, 140, 0.5);
  border-top: 1px solid rgba(120, 130, 140, 0.5);
}

.dark .table-bordered tbody tr td,
.dark .table-bordered tbody tr th {
  border-bottom: 1px solid rgba(120, 130, 140, 0.5);
}

.dark .table-bordered thead tr th {
  border-bottom: 1px solid rgba(120, 130, 140, 0.5);
}

.dark tr.group,
.dark tr.group:hover {
  background-color: #282d35 !important;
}

.dark .tableBody {
  color: #bbb;
}

.dark .card .header h2 strong {
  color: #bbb !important;
}

.dark .breadcrumb li a {
  color: #f1d065 !important;
}

.dark .counter-box,
.dark .box-part {
  background: #434f5a !important;
  color: #bbb;
}

.dark .tblActnBtn i {
  color: #bbb;
}

.dark .chat .chat-history .other-message {
  background: #3b4453;
}

.dark .chat .chat-history .other-message:after {
  border-bottom-color: #3b4454;
}

.dark .chat .chat-history .message {
  color: #bbb;
}

.dark .chat .chat-history .my-message {
  background: #343840;
}

.dark .chat .chat-history .my-message:after {
  border-bottom-color: #343840;
}

.dark .taskbar .card-footer {
  background: #434f5a !important;
}

.dark .move {
  background: #434f5a;
}

.dark .board {
  background-color: #353a46;
}

.dark .board .drop-card {
  background-color: #404754;
}

.dark .list-group-item {
  background: #434f5a;
}

.dark .product-grid .product-content {
  background-color: #3b4453;
}

.dark .ibox-title,
.dark .ibox-content {
  background: #434f5a;
  border-color: #6c757d;
}

.dark .collapsible-header {
  background: #434f5a;
}

.dark .card .card-inside-title {
  color: #bbb;
}

.dark .left-timeline > li:nth-child(odd) .left-label {
  background: #202529;
}

.dark .left-timeline > li:nth-child(odd) .left-label:after {
  border-right-color: #202428;
}

.dark .left-timeline > li:nth-child(odd) .left-time span:last-child {
  color: #eee;
}

.dark .left-timeline > li .left-label {
  background: #303438;
}

.dark .left-timeline > li .left-label p {
  color: #bbb;
}

.dark .left-timeline > li .left-label:after {
  border-right-color: #303438;
}

.dark .left-timeline > li .empty span {
  color: #bbb;
}

.dark .left-timeline > li .left-time span:first-child {
  color: #bbb;
}

.dark .left-timeline > li .left-time span:last-child {
  color: #eae9e9;
}

.dark .font-icon .icon-preview i {
  color: #bbb;
}

.dark .nav-tabs .nav-link.active,
.dark .nav-tabs .nav-item.show .nav-link {
  background-color: transparent;
}

.dark .panel-group .panel-primary .panel-title a {
  color: #bbb;
  background: #32363c;
}

.dark .panel-group .panel .panel-body {
  color: #bbb;
}

.dark .btn-outline-primary {
  color: #bbb !important;
  border: 1px solid #bbb !important;
}

.dark .dropdown-content {
  background-color: #343d44;
}

.dark .dropdown-content li > span {
  font-size: 13px;
  color: #bbb;
}

.dark .select-dropdown li.disabled {
  color: #bbb;
  font-size: 13px;
}

.dark .autocomplete {
  color: #bbb;
}

.dark .autocomplete-content.dropdown-content li:hover {
  background-color: #343d44;
}

.dark .autocomplete-content li .highlight {
  color: #fff;
}

.dark ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(187, 187, 187, 0.7);
}

.dark ::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(187, 187, 187, 0.7);
}

.dark :-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(187, 187, 187, 0.7);
}

.dark :-moz-placeholder {
  /* Firefox 18- */
  color: rgba(187, 187, 187, 0.7);
}
/*# sourceMappingURL=dark.css.map */