/*
 *  Document   : theme-cyan.scss
 *  Author     : RedStar Template
 *  Description: This scss file for cyan theme style classes
 */
.theme-cyan .navbar {
  background-color: #01d8da;
}

.theme-cyan .navbar.active {
  background-color: #01d8da !important;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.theme-cyan .navbar.active .nav > li > a {
  color: #fff;
}

.theme-cyan .navbar.active .sidemenu-collapse i {
  color: #fff;
}

.theme-cyan .nav > li > a {
  color: #fff;
}

.theme-cyan .nav > li > a:hover {
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}

.theme-cyan .nav > li > a:focus {
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}

.theme-cyan .bars {
  color: #fff;
}

.theme-cyan .sidebar .menu .list li.active {
  background-color: rgba(0, 0, 0, 0);
}

.theme-cyan .sidebar .menu .list li.active > :first-child i, .theme-cyan .sidebar .menu .list li.active > :first-child span {
  color: #01d8da;
}

.theme-cyan .sidebar .menu .list li a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.theme-cyan .sidebar .menu .list li a i, .theme-cyan .sidebar .menu .list li a span {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.theme-cyan .sidebar .menu .list li a:hover {
  color: #01d8da;
}

.theme-cyan .sidebar .menu .list li a:hover i, .theme-cyan .sidebar .menu .list li a:hover span {
  color: #01d8da;
}

.theme-cyan .sidebar .menu .list .ml-menu {
  background-color: rgba(0, 0, 0, 0);
}

.theme-cyan .sidebar .menu .list .ml-menu .active a {
  font-weight: 700;
}

.theme-cyan .sidebar .menu .list .ml-menu li.active a.toggled:not(.menu-toggle):before {
  background-color: #01d8da;
  border-color: #01d8da;
}

.theme-cyan .sidebar .menu .menu-toggle.toggled:after {
  color: #01d8da;
}

.theme-cyan .sidebar .menu .active .menu-toggle {
  border-left: 2px solid #01d8da;
}

.theme-cyan .sidebar .legal {
  background-color: #fff;
}

.theme-cyan .sidebar .legal .copyright a {
  color: #01d8da !important;
}

.theme-cyan .breadcrumb li a {
  color: #01d8da !important;
}

.theme-cyan .card .header h2 strong {
  color: #01d8da !important;
}

.theme-cyan .page-item.active .page-link {
  background-color: #01d8da;
  border-color: #01d8da;
  color: #FFFFFF;
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
}

.theme-cyan .btn-primary {
  background-color: #01d8da !important;
  color: #fff !important;
  border-color: #01d8da !important;
}

.theme-cyan .btn-primary:hover {
  background-color: #01d8da !important;
  color: #fff !important;
}

.theme-cyan .btn-primary:active {
  background-color: #01d8da !important;
  color: #fff !important;
}

.theme-cyan .btn-primary:focus {
  background-color: #01d8da !important;
  color: #fff !important;
}

.theme-cyan .btn-primary:disabled {
  background-color: #01d8da !important;
  color: #fff !important;
}

.theme-cyan .btn-outline-primary {
  background: 0 0 !important;
  color: #01d8da !important;
  border: 1px solid #01d8da !important;
}

.theme-cyan .btn-outline-primary:hover {
  background: #01d8da !important;
  color: #fff !important;
  border: 1px solid #01d8da !important;
}

.theme-cyan .timelineLabelColor strong {
  color: #01d8da !important;
}

.theme-cyan .top-sidebar .horizontal-menu li.active > a {
  color: #01d8da;
}

.theme-cyan .top-sidebar .horizontal-menu li a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.theme-cyan .top-sidebar .horizontal-menu li a:hover {
  color: #01d8da;
}

.theme-cyan .nav-tabs > li > a:before {
  border-bottom: 2px solid #01d8da;
}

.theme-cyan .sidemenu-collapse i {
  color: #fff;
}

/*Logo Header Background Color*/
.logo-cyan .navbar-header {
  background-color: #01d8da;
}
/*# sourceMappingURL=theme-cyan.css.map */