/*
 *  Document   : theme-white.scss
 *  Author     : RedStar Template
 *  Description: This scss file for white theme style classes
 */
.theme-white .navbar {
  background-color: #fff;
}

.theme-white .navbar.active {
  background-color: #fff !important;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.theme-white .navbar.active .nav > li > a {
  color: #3a2c70;
}

.theme-white .navbar.active .sidemenu-collapse i {
  color: #3a2c70;
}

.theme-white .navbar-brand {
  color: #2c303b;
}

.theme-white .navbar-brand:hover {
  color: #2c303b;
}

.theme-white .navbar-brand:active {
  color: #2c303b;
}

.theme-white .navbar-brand:focus {
  color: #2c303b;
}

.theme-white .nav > li > a:hover {
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}

.theme-white .nav > li > a:focus {
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}

.theme-white .nav .open > a {
  background-color: rgba(0, 0, 0, 0);
}

.theme-white .nav .open > a:hover {
  background-color: rgba(0, 0, 0, 0);
}

.theme-white .nav .open > a:focus {
  background-color: rgba(0, 0, 0, 0);
}

.theme-white .bars {
  color: #2c303b;
}

.theme-white .sidebar .menu .list li.active {
  background-color: rgba(0, 0, 0, 0);
}

.theme-white .sidebar .menu .list li.active > :first-child i, .theme-white .sidebar .menu .list li.active > :first-child span {
  color: #00bcd4;
}

.theme-white .sidebar .menu .list li a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.theme-white .sidebar .menu .list li a i, .theme-white .sidebar .menu .list li a span {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.theme-white .sidebar .menu .list li a:hover {
  color: #00bcd4;
}

.theme-white .sidebar .menu .list li a:hover i, .theme-white .sidebar .menu .list li a:hover span {
  color: #00bcd4;
}

.theme-white .sidebar .menu .list .toggled::after {
  color: #00bcd4;
}

.theme-white .sidebar .menu .list .ml-menu {
  background-color: rgba(0, 0, 0, 0);
}

.theme-white .sidebar .menu .list .ml-menu .active a {
  font-weight: 700;
}

.theme-white .sidebar .menu .list .ml-menu li.active a.toggled:not(.menu-toggle):before {
  background-color: #00bcd4;
  border-color: #00bcd4;
}

.theme-white .sidebar .menu .menu-toggle.toggled:after {
  color: #00bcd4;
}

.theme-white .sidebar .menu .active .menu-toggle {
  border-left: 2px solid #00bcd4;
}

.theme-white .sidebar .legal {
  background-color: #2c303b;
}

.theme-white .sidebar .legal .copyright a {
  color: #fff !important;
}

.theme-white .breadcrumb li a {
  color: #00bcd4 !important;
}

.theme-white .card .header h2 strong {
  color: #00bcd4 !important;
}

.theme-white .page-item.active .page-link {
  background-color: #00bcd4;
  border-color: #00bcd4;
  border-radius: 50%;
  margin: 5px;
  -webkit-box-shadow: 0 4px 5px 0 #d4d8da, 0 1px 10px 0 #d4d8da, 0 2px 4px -1px #d4d8da;
          box-shadow: 0 4px 5px 0 #d4d8da, 0 1px 10px 0 #d4d8da, 0 2px 4px -1px #d4d8da;
  padding: 0px 12px;
  min-width: 30px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
}

.theme-white .btn-primary {
  background-color: #00bcd4 !important;
  color: #fff !important;
  border-color: #00bcd4 !important;
}

.theme-white .btn-primary:hover {
  background-color: #00bcd4 !important;
  color: #fff !important;
}

.theme-white .btn-primary:active {
  background-color: #00bcd4 !important;
  color: #fff !important;
}

.theme-white .btn-primary:focus {
  background-color: #00bcd4 !important;
  color: #fff !important;
}

.theme-white .btn-primary:disabled {
  background-color: #00bcd4 !important;
  color: #fff !important;
}

.theme-white .btn-outline-primary {
  background: 0 0 !important;
  color: #2c303b !important;
  border: 1px solid #00bcd4 !important;
}

.theme-white .btn-outline-primary:hover {
  background: #00bcd4 !important;
  color: #fff !important;
  border: 1px solid #fff !important;
}

.theme-white .timelineLabelColor strong {
  color: #00bcd4 !important;
}

.theme-white .top-sidebar .horizontal-menu li.active > a {
  color: #00bcd4;
}

.theme-white .top-sidebar .horizontal-menu li a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.theme-white .top-sidebar .horizontal-menu li a:hover {
  color: #00bcd4;
}

.theme-white .demo-choose-skin li.actived:after {
  color: #000;
}

.theme-white .nav-tabs > li > a:before {
  border-bottom: 2px solid #00bcd4;
}

.theme-white .search-box input#search {
  color: gray;
  background: #edecec;
}

/*Logo Header Background Color*/
.logo-white .navbar-header {
  background-color: #fff;
}

.logo-white .navbar-header .logo-name {
  color: #000;
}
/*# sourceMappingURL=theme-white.css.map */