/*
 *  Document   : theme-black.scss
 *  Author     : RedStar Template
 *  Description: This scss file for black theme style classes
 */
.theme-black .navbar {
  background-color: #343d45;
}

.theme-black .navbar.active {
  background-color: #343d45 !important;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.theme-black .navbar.active .nav > li > a {
  color: #fff;
}

.theme-black .navbar.active .sidemenu-collapse i {
  color: #fff;
}

.theme-black .navbar-brand {
  color: #fff;
}

.theme-black .navbar-brand:hover {
  color: #fff;
}

.theme-black .navbar-brand:active {
  color: #fff;
}

.theme-black .navbar-brand:focus {
  color: #fff;
}

.theme-black .nav > li > a {
  color: #fff;
}

.theme-black .nav > li > a:hover {
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}

.theme-black .nav > li > a:focus {
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}

.theme-black .nav .open > a {
  background-color: rgba(0, 0, 0, 0);
}

.theme-black .nav .open > a:hover {
  background-color: rgba(0, 0, 0, 0);
}

.theme-black .nav .open > a:focus {
  background-color: rgba(0, 0, 0, 0);
}

.theme-black .bars {
  color: #fff;
}

.theme-black .sidebar .menu .list li.active {
  background-color: rgba(0, 0, 0, 0);
}

.theme-black .sidebar .menu .list li a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.theme-black .sidebar .menu .list li a i, .theme-black .sidebar .menu .list li a span {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.theme-black .sidebar .legal {
  background-color: #fff;
}

.theme-black .sidebar .legal .copyright a {
  color: #343d45 !important;
}

.theme-black .breadcrumb li a {
  color: #343d45 !important;
}

.theme-black .card .header h2 strong {
  color: #343d45 !important;
}

.theme-black .page-item.active .page-link {
  background-color: #343d45;
  border-color: #343d45;
  color: #FFFFFF;
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
}

.theme-black .btn-primary {
  background-color: #343d45 !important;
  color: #fff !important;
  border-color: #343d45 !important;
}

.theme-black .btn-primary:hover {
  background-color: #343d45 !important;
  color: #fff !important;
}

.theme-black .btn-primary:active {
  background-color: #343d45 !important;
  color: #fff !important;
}

.theme-black .btn-primary:focus {
  background-color: #343d45 !important;
  color: #fff !important;
}

.theme-black .btn-primary:disabled {
  background-color: #343d45 !important;
  color: #fff !important;
}

.theme-black .btn-outline-primary {
  background: 0 0 !important;
  color: #343d45 !important;
  border: 1px solid #343d45 !important;
}

.theme-black .btn-outline-primary:hover {
  background: #343d45 !important;
  color: #fff !important;
  border: 1px solid #343d45 !important;
}

.theme-black .timelineLabelColor strong {
  color: #343d45 !important;
}

.theme-black .top-sidebar .horizontal-menu li.active > a {
  color: #343d45;
}

.theme-black .top-sidebar .horizontal-menu li a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.theme-black .top-sidebar .horizontal-menu li a:hover {
  color: #343d45;
}

.theme-black .nav-tabs > li > a:before {
  border-bottom: 2px solid #343d45;
}

.theme-black .sidemenu-collapse i {
  color: #fff;
}

/*Logo Header Background Color*/
.logo-black .navbar-header {
  /* background-color: #343d45; */
}
/*# sourceMappingURL=theme-black.css.map */